head {
  color: #b370ff;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: #bdf0bf;
  color: #23422b;
  text-align: center;
  font-family: 'Courier New';
  list-style-type: none;
}
